*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

:root {
    --cor-titulo: #183B56;
    --cor-paragrafo: #5A7184;
    --cor-fundo: #1565D8;
}

h1 {
    font-family: "Outfit", sans-serif;
    color: var(--cor-titulo);
    text-align: center;

    font-size: clamp(2rem, 1.5714rem + 2.1429vw, 3.5rem);
}

h2 {
    color: var(--cor-titulo);
    font-family: "Outfit", sans-serif;
}

h3 {
    font-family: "Outfit", sans-serif;
    color: var(--cor-titulo);

    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
}

p {
    font-family: "Open Sans", sans-serif;
    color: var(--cor-paragrafo);

    font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

a {
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
}

/*Cabeçalho*/

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2rem;
}

.cabecalho-desktop {
    display: none;
}

/*Hero*/

.hero p {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.hero h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.imagem-casa-hero img {
    width: 100%;
    object-fit: cover;

}

.bloco-pesquisa {
    border-radius: 10px;
    background-color: white;
}

.lupa-titulo {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.search-now {
    background-color: var(--cor-fundo);
    color: white;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.hero h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;

    text-align: center;
}

.conjunto-logos1 {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

}

.conjunto-logos2 {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.conjunto-logos3 {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.underline {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

/*About Us*/

.about-us-introducao h3 {
    color: #36B37E;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    text-align: center;

    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.about-us-introducao h2 {
    font-size: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem);
    font-family: "Outfit", sans-serif;
    color: var(--cor-titulo);
    text-align: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

    font-weight: 400;
}

.about-us-introducao img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.digital-era h2 {
    font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);

    text-align: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 2rem;
}

.digital-era p {
    margin-bottom: 1rem;
    text-align: center;
}

.about-us p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.about-us-veja {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    gap: 0.5rem;
}

.about-us-veja h3 {
    margin-top: 0.3rem;
    color:#1565D8;
    text-align: center;
}

.about-us-casa-verde img {
    display: block;
    margin: 0 auto;
}

.about-us-casa-verde h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.about-us-casa-verde p {
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    margin-bottom: 2rem;
}

.about-us ul {
    font-family: "Open Sans", sans-serif;
    color: #183B56;
    text-decoration: none;
    font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.about-us li {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

/*How Us Work*/

.how-us-work h2 {
    font-size: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem);
    text-align: center;
    margin-bottom: 1rem;
}

.how-us-work p {
    color: #183B56;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    text-align: center;

    margin-bottom: 1rem;
}

/*Card 1*/

.how-us-work-passo1 img {
    margin-left: 1.5rem;
}

.marcador-titulo-passo1 {
    display: flex;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
}

.p-passo1 p {
    text-align: left;
    margin-left: 2.5rem;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    color: #5A7184;
}

/*Card 2*/

.how-us-work-passo2 img {
    margin-left: 1.5rem;
}

.marcador-titulo-passo2 {
    display: flex;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
}

.p-passo2 p {
    text-align: left;
    margin-left: 2.5rem;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    color: #5A7184;
}

/*Card 3*/

.how-us-work-passo3 img {
    margin-left: 1.5rem;
}

.marcador-titulo-passo3 {
    display: flex;
    gap: 0.5rem;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
}

.p-passo3 p {
    text-align: left;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    color: #5A7184;
}

/*Recomendações*/

.recomendacoes img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.recomendacoes p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.button-about-us {
    border-radius: 5px;
    border: 2px solid #36B37E;
    background-color: white;
    color: #36B37E;
    font-weight: bolder;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    font-size: 16px;

    display: block;
    margin: 0 auto;
}

.how-us-work-about-us p {
    margin-top: 2rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.start-searching {
    border-radius: 5px;
    border: 2px solid #36B37E;
    background-color: white;
    color: #36B37E;
    font-weight: bolder;

    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    font-size: 16px;

    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/*Dany Olmo*/

.dany-olmo {
    border-radius: 10px;
    background-color: #F9FBFE;
}

.dany-olmo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.dany-olmo p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

    color: #183B56;
    font-size: 18px;
    font-weight: 350;
    text-align: center;
}

.dany-olmo h3 {
    text-align: center;
}

/*Dados*/

/*Dinheiro e Hospedeiros*/

.dinheiro {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.dinheiro img {
    width: 48px;
    height: 48px;
}

.dinheiro h3 {
    font-size: clamp(1.75rem, 1.3929rem + 1.7857vw, 3rem);
}

.total-hospedeiros {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.total-hospedeiros img {
    width: 48px;
    height: 48px;
}

.total-hospedeiros h3 {
    font-size: clamp(1.75rem, 1.3929rem + 1.7857vw, 3rem);
}

.conjunto-dados1 {
    display: flex;
   justify-content: space-around;
   margin-bottom: 3rem;
}

/*Novos Hospedeiros e Clientes Felizes*/

.novos-hospedeiros {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.novos-hospedeiros img {
    width: 48px;
    height: 48px;
}

.novos-hospedeiros h3 {
    font-size: clamp(1.75rem, 1.3929rem + 1.7857vw, 3rem);
}

.novos-hospedeiros p {
    text-align: center;
}

.clientes-felizes {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.clientes-felizes img {
    width: 48px;
    height: 48px;
}

.clientes-felizes h3 {
    font-size: clamp(1.75rem, 1.3929rem + 1.7857vw, 3rem);
}

.clientes-felizes p {
    text-align: center;
}

.conjunto-dados2 {
    display: flex;
   justify-content: space-around;
   margin-bottom: 3rem;
}

/*Cadastre-se*/

.cadastre-se {
    background-color: var(--cor-fundo);
    padding-bottom: 2rem;
}

.cadastre-se h2 {
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4.25rem;
    margin-right: 4.25rem;
    color: white;
    text-align: center;

    font-size: clamp(1.75rem, 1.6071rem + 0.7143vw, 2.25rem);
}

.cadastre-se p {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    font-weight: 300;
}

.email {
    display: flex;
    gap: 8rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: white;

    border-radius: 5px;
    border: 2px solid #C3CAD9;

    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.email p {
    color: var(--cor-paragrafo);
    font-weight: 400;
}

/*Rodapé*/

/*Product*/

.rodape-product li {
    margin-bottom: 1rem;
}

.rodape-product a {
    color: var(--cor-titulo);
}

.rodape-product p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--cor-titulo);
    font-weight: 600;
}

/*Services*/

.rodape-services li {
    margin-bottom: 1rem;
}

.rodape-services a {
    color: var(--cor-titulo);
}

.rodape-services p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--cor-titulo);
    font-weight: 600;
}

.conjunto-rodape1 {
    display: flex;
    justify-content: space-around;
    margin-left: 1rem;
}

.conjunto-rodape1 ul {
    text-decoration: none;
}

/*Company*/

.rodape-company li {
    margin-bottom: 1rem;
}

.rodape-company a {
    color: var(--cor-titulo);
}

.rodape-company p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--cor-titulo);
    font-weight: 600;
}

/*Services*/

.rodape-more li {
    margin-bottom: 1rem;
}

.rodape-more a {
    color: var(--cor-titulo);
}

.rodape-more p {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--cor-titulo);
    font-weight: 600;
}

.conjunto-rodape2 {
    display: flex;
    justify-content: space-around;
    margin-left: 1rem;
}

.conjunto-rodape2 ul {
    text-decoration: none;
}

/*Final do Rodapé*/

.rodape-fim img {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.rodape-fim p{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*DESKTOP*/

@media (min-width: 1024px) {

/*Cabeçalho*/

.cabecalho {
    display: none;
}

.cabecalho-desktop {
    margin-left: -10rem;
    margin-right: -10rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.cabecalho-desktop ul {
    display: flex;
    gap: 1rem;
}

.cabecalho-desktop li {
    margin-top: 0.5rem;
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
}

.get-it-now {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 5px;
    border: 2px solid #1565D8;
    color: #1565D8;
    font-weight: bold;
    background-color: white;
    
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

/*Hero*/

.hero h1 {
    margin-left: 16rem;
    margin-right: 16rem;
}

}

@media (min-width: 1440px) {

/*Cabeçalho*/

.cabecalho {
    display: none;
}

.cabecalho-desktop {
    margin-left: -10rem;
    margin-right: -10rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.cabecalho-desktop ul {
    display: flex;
    gap: 1rem;
}

.cabecalho-desktop li {
    margin-top: 0.5rem;
    font-family: "Open Sans", sans-serif;
    color: var(--cor-titulo);
}

.get-it-now {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border-radius: 5px;
    border: 2px solid #1565D8;
    color: #1565D8;
    font-weight: bold;
    background-color: white;
    
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

/*Hero*/

.hero h1 {
    margin-left: 26rem;
    margin-right: 26rem;
}

}